<%- include('../includes/head.ejs') %>
</head>

<body>
  <section class="background-gradient">
    <%- include('../includes/navigation.ejs') %>
    <div class="set">
      <div id="particle"></div>
      <div id="particle"></div>
      <div id="particle"></div>
      <div id="particle"></div>
      <div id="particle"></div>
      <div id="particle"></div>
      <div id="particle"></div>
      <div id="particle"></div>
      <div id="particle"></div>
    </div>
    <div class="glass-block">

      <hr>
      <div class="banner1">
        <div class="banner1-text">
          <h1>Assine já</h1>
          <h2>300 mega de <br>
            internet por</h2>
          <div class="apenas">apenas</div>
          <div class="currencyReal">R$</div>
          <div class="price">99</div>
          <div class="price2">,90</div>
        </div>
        <img src="https://i.pinimg.com/originals/4e/27/44/4e2744fcb5f235e6f8883bcc398f2427.png" alt="">
      </div>
      <div class="banner2">
        <div class="banner2-text">
          <h1>Internet rápida</h1>
          <h1>para o seu</h1>
          <h1>dia a dia</h1>
        </div>
        <img src="https://image.freepik.com/free-photo/happy-young-colleagues-sitting-office-coworking-using-laptop_171337-17668.jpg" alt="">
      </div>
      <div class="banner3">
        <div class="container">
          <div class="row">
            <div class="col">
              <i class="fas fa-rocket layer" data-speed='5'></i>
              <i class="fas fa-meteor layer" data-speed='1'></i>
            </div>
            <div class="col">
              <ul>
                <li>Velocidade</li>
                <li>Estabilidade</li>
                <li>Segurança</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="banner4">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="banner4-text">
                <div class="banner4-price">
                  <div class="currencyReal">R$</div>
                  <div class="price">59</div>
                  <div class="price2">,90</div>
                </div>
                <h1>200 Mega</h1>
              </div>

            </div>
            <div class="col">
              <div class="border__box"></div>
              <div class="banner4-text">
                <div class="banner4-price">
                  <div class="currencyReal">R$</div>
                  <div class="price">99</div>
                  <div class="price2">,90</div>
                </div>
                <h1>300 Mega</h1>
              </div>
            </div>
            <div class="col">
              <div class="banner4-text">
                <div class="banner4-price">
                  <div class="currencyReal">R$</div>
                  <div class="price">159</div>
                  <div class="price2">,90</div>
                </div>
                <h1>400 Mega</h1>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>





  </div>
  </div>
  <script type="text/javascript" src="/css/rocketParallax.js"></script>

  <%- include('../includes/end.ejs') %>